################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/ActionEChaining/obj/Debug/net5.0
/WPF/Gestor/.vs/Gestor/v17
/WPF/CadPessoas/.vs/CadPessoas
/WPF/CadPessoas/bin/Debug/net5.0-windows
/WPF/CadPessoas/obj/Debug/net5.0-windows
/WPF/CadPessoas/obj/project.nuget.cache
/WPF/CadPessoas/obj/project.assets.json
/WPF/CadPessoas/obj/CadPessoas.csproj.nuget.g.targets
/WPF/CadPessoas/obj/CadPessoas.csproj.nuget.g.props
/WPF/CadPessoas/obj/CadPessoas.csproj.nuget.dgspec.json
/WPF/Reserva/obj
/WPF/Reserva/.vs/Reserva/v17
/WPF/KeyPress/KeyPress/obj/Release/net5.0-windows
/WPF/KeyPress/TestesUnitarios/obj/Release/net5.0-windows
/WPF/Names/.vs/Names
/WPF/Reserva/.vs/Reserva
/WinForm/ControleHoras/ControleHoras/obj/Release/net5.0-windows
/SchoolOfNet/POO/.vs/POO
/SchoolOfNet/POO/obj/Debug/net5.0
/SchoolOfNet/POO/obj/Release/net5.0
/SchoolOfNet/POO/obj
/WinForm/WinFinanceiro/.vs/WinFinanceiro
/WinForm/WinFinanceiro/bin/Debug/net5.0-windows
/WinForm/App_CadPessoa
/WinForm/ControleHoras/.vs/ControleHoras/v17/TestStore/0
/WPF/BindingWpf/.vs/BindingWpf
/WPF/BindingWpf/bin/Debug/net5.0-windows
/WPF/KeyPress/TestesUnitarios/bin/Release/net5.0-windows
/WPF/CadPessoas/obj/Release/net5.0-windows
/SchoolOfNet/ADO/.vs/ADO
/SchoolOfNet/ADO/bin/Debug/net5.0
/SchoolOfNet/ADO/obj
